/* #box{
    height: 200px;
    width: 100px;
    background-color: rgb(201, 150, 248);
    color: white;
    border: 2px solid green;
} */

.content{
    color: red;
}
.newClass{
    background-color: green;
    color: black;
}